.cuadro1{
width: 200px;
height: 60px;
position: fixed;
left: 20px;
top: 18px;
}
.cuadro2{
width: 300px;
height: 650px;
background:#ffffff;
position: fixed;
left: 0;
top: 100;
}
.cuadro3{
width: 1536px;
height: 98px;
background:#ffffff;
box-shadow: 0px 0px 10px rgb(188, 188, 188);
position: fixed;
left: 0;
top: 0;
}
.cuadro4{
width: 90px;
height: 80px;
background:#ffffff;
position: fixed;
left: 1430;
top: 10;
}
.sesion{
text-decoration: none;
color:#000000;
}
.cuadro5{
width: 1236px;
height: 615px;
background:#EEF0F5;
position: fixed;
left: 300;
top: 100;
}
.cuadro6{
    width: 1150px;
    height: 530px;
    background:#ffffff;
    box-shadow: 0px 0px 30px rgb(188, 188, 188);
    border-radius: 1%;
    position: fixed;
    left: 350;
    top: 160;
    }
    
    .cuadro8{
    width: 780px;
    height: 450px;
    -webkit-border-radius:5px;
    -ms-border-radius:5px;
    background:rgba(225, 225, 225, 0.471);
    box-shadow: 5px 8px 8px rgb(218, 218, 218);
    position: fixed;
    font-size: 125%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid rgb(237, 237, 237);
    left: 530;
    top: 210;
    }
.cuadro9{
width: 150;
height: 80;
position:fixed;
font-size: 110%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
-webkit-border-radius:5px;
-ms-border-radius:5px;
-webkit-box-shadow: 0px -4px 0px #b1d5e8ad;
left: 69%;
top: 40%;
}
.cuadro10{
width: 150;
height: 80;
position:fixed;
font-size: 110%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
-webkit-border-radius:5px;
-ms-border-radius:5px;
-webkit-box-shadow: 0px -4px 0px #b1d5e8ad;
left: 69%;
top: 50%;
}
.cuadro11{
width: 150;
height: 80;
position:fixed;
font-size: 110%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
-webkit-border-radius:5px;
-ms-border-radius:5px;
-webkit-box-shadow: 0px -4px 0px #b1d5e8ad;
left: 69%;
top: 60%;
}
.cuadro12{
width: 150;
height: 80;
position:fixed;
font-size: 110%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
-webkit-border-radius:5px;
-ms-border-radius:5px;
-webkit-box-shadow: 0px -4px 0px #b1d5e8ad;
left: 69%;
top: 70%;
}
.cuadro13{
width: 20%;
height: 40%;
-webkit-border-radius:5px;
-ms-border-radius:5px;
box-shadow: 0px 0px 30px rgb(188, 188, 188);
background: #ffffff8a;
position: fixed;
left: 40%;
top: 40%;
}
.cuadro14{
width: 150;
height: 80;
position:fixed;
font-size: 110%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
-webkit-border-radius:5px;
-ms-border-radius:5px;
-webkit-box-shadow: 0px -4px 0px #b1d5e8ad;
left: 69%;
top: 80%;
}
.usuarios{
width: 150;
height: 80;
font-size: 115%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
-webkit-border-radius:5px;
-ms-border-radius:5px;
background: #79aec8ad;
cursor:pointer;
border:0;
}
.usuarios:hover{
background: #79aec8ad;
}
.usuarios:active {
transform: translateY(20px);
}

.productos{
width: 150;
height: 80;
font-size: 115%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
-webkit-border-radius:5px;
-ms-border-radius:5px;
background: #def9ff;
cursor:pointer;
border:0;
}
.productos:hover{
background: #99cbd6;
}
.productos:active {
transform: translateY(20px);
}
.prestamos{
width: 150;
height: 80;
font-size: 115%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
-webkit-border-radius:5px;
-ms-border-radius:5px;
background: #def9ff;
cursor:pointer;
border:0;
}
.prestamos:hover{
background: #99cbd6;
}
.prestamos:active {
transform: translateY(20px);
}
.matricula{
width: 150;
height: 80;
font-size: 115%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
-webkit-border-radius:5px;
-ms-border-radius:5px;
background: #def9ff;
cursor:pointer;
border:0;
}
.matricula:hover{
background: #99cbd6;
}
.matricula:active {
transform: translateY(20px);
}
.categoria{
width: 150;
height: 80;
font-size: 115%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
-webkit-border-radius:5px;
-ms-border-radius:5px;
background: #def9ff;
cursor:pointer;
border:0;
}
.categoria:hover{
background: #99cbd6;
}
.categoria:active {
transform: translateY(20px);
}
.send1{
width: 270;
height: 50;
position:fixed;
left: 41.3%;
top: 72%;
}
.send{
width: 100%;
font-size: 15px;
-webkit-border-radius:5px;
-ms-border-radius:5px;
background: #95e49aad;
border: 2px;
-webkit-box-shadow: 0px 4px 0px #6eb472ad;
padding: 3%;
cursor:pointer;
}
.generar:hover {
background-color: #d2ffd5ad;
box-shadow: 3px 6px 5px #6eb472ad;
}
.generar:active {
transform: translateY(5px);
}

.fecha1{
width: 200px;
height: 50px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
position: fixed;
left: 43.5%;
top: 45%;
}
.fecha2{
width: 200px;
height: 50px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
position: fixed;
left: 43.5%;
top: 58%;
}
input[type="date"]{
display: block;
background: #95cae4ad;
-webkit-box-shadow: 0px 4px 0px #79aec8ad;
font-size: 15px;
width: 99%;
padding: 4%;
-webkit-border-radius:5px;
-ms-border-radius:5px;
cursor:pointer;
border: 0px;
}

#menu {
width: 295px;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 12px;
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 0;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #ffffff;
border-right-color: #ffffff;
border-bottom-color: #ffffff;
border-left-color: #ffffff;
margin-right: auto;
margin-left: 0px;
}
#menu ul li {
list-style-type: none;
}
#menu ul {
margin: 0;
padding: 0;
}
#menu li {
border-bottom: 1px solid #ffffff;
}
#menu a {
text-decoration: none;
color: #000000;
background: #ffffff;
-webkit-transition:background-color .5s;
display: block;
width: 280px;
padding-top: 40px;
padding-right: 6px;
padding-bottom: 3px;
padding-left: 9px;
}
#menu a:hover {
background: #bbe4ee67;
transform: scale(1.05);
}

#menu1 {
width: 295px;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 12px;
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 0;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #ffffff;
border-right-color: #ffffff;
border-bottom-color: #ffffff;
border-left-color: #ffffff;
margin-right: auto;
margin-left: 0px;
}
#menu1 ul li {
list-style-type: none;
}
#menu1 ul {
margin: 0;
padding: 0;
}
#menu1 li {
border-bottom: 1px solid #ffffff;
}
#menu1 a {
text-decoration: none;
color: #000000;
background: #ffffff;
-webkit-transition:background-color .5s;
display: block;
width: 280px;
padding-top: 40px;
padding-right: 6px;
padding-bottom: 3px;
padding-left: 9px;
}
#menu1 a:hover {
background: #bbe4ee67;
transform: scale(1.05);
}

#menu2 {
width: 295px;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 12px;
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 0;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #ffffff;
border-right-color: #ffffff;
border-bottom-color: #ffffff;
border-left-color: #ffffff;
margin-right: auto;
margin-left: 0px;
}
#menu2 ul li {
list-style-type: none;
}
#menu2 ul {
margin: 0;
padding: 0;
}
#menu2 li {
border-bottom: 1px solid #ffffff;
}
#menu2 a {
text-decoration: none;
color: #000000;
background: #ffffff;
-webkit-transition:background-color .5s;
display: block;
width: 280px;
padding-top: 40px;
padding-right: 6px;
padding-bottom: 3px;
padding-left: 9px;
}
#menu2 a:hover {
background: #bbe4ee67;
transform: scale(1.05);
}

#menu3 {
width: 295px;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 12px;
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 0;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #ffffff;
border-right-color: #ffffff;
border-bottom-color: #ffffff;
border-left-color: #ffffff;
margin-right: auto;
margin-left: 0px;
}
#menu3 ul li {
list-style-type: none;
}
#menu3 ul {
margin: 0;
padding: 0;
}
#menu3 li {
border-bottom: 1px solid #ffffff;
}
#menu3 a {
text-decoration: none;
color: #ffffff;
background: #a5c9e0b1;
display: block;
width: 280px;
padding-top: 40px;
padding-right: 6px;
padding-bottom: 3px;
padding-left: 9px;
}
#menu3 a:hover {
background: #a5c9e0b1;
transform: scale(1.05);
}
#menu4 {
width: 295px;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 12px;
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 0;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #ffffff;
border-right-color: #ffffff;
border-bottom-color: #ffffff;
border-left-color: #ffffff;
margin-right: auto;
margin-left: 0px;
}
#menu4 ul li {
list-style-type: none;
}
#menu4 ul {
margin: 0;
padding: 0;
}
#menu4 li {
border-bottom: 1px solid #ffffff;
}
#menu4 a {
text-decoration: none;
color: #000000;
background: #ffffff;
-webkit-transition:background-color .5s;
display: block;
width: 280px;
padding-top: 40px;
padding-right: 6px;
padding-bottom: 3px;
padding-left: 9px;
}
#menu4 a:hover {
background: #bbe4ee67;
transform: scale(1.05);
}