.cuadro1{
    width: 200px;
    height: 60px;
    position: fixed;
    left: 20px;
    top: 18px;
}
.cuadro2{
    width: 300px;
    height: 650px;
	background:#ffffff;
    position: fixed;
    left: 0;
    top: 100;
}
.cuadro3{
    width: 1536px;
    height: 98px;
	background:#ffffff;
    box-shadow: 0px 0px 10px rgb(188, 188, 188);
    position: fixed;
    left: 0;
    top: 0;
}
.cuadro4{
    width: 90px;
    height: 80px;
	background:#ffffff;
    position: fixed;
    left: 1430;
    top: 10;
}
.cuadro5{
    width: 1236px;
    height: 615px;
	background:#EEF0F5;
    position: fixed;
    left: 300;
    top: 100;
}
.cuadro6{
    width: 1150px;
    height: 500px;
	background:#ffffff;
    box-shadow: 0px 0px 30px rgb(188, 188, 188);
    border-radius: 1%;
    position: fixed;
    left: 350;
    top: 160;
}
.cuadro7{
    width: 300px;
    height: 300px;
	background:#ffffff;
    position: fixed;
    left: 780;
    top: 350;
}
.sesion{
    text-decoration: none;
    color:#000000;
}
#cerrar{
    position:absolute;
    left: 1125;
    top: 5;
}
#menu {
width: 295px;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 12px;
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 0;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #ffffff;
border-right-color: #ffffff;
border-bottom-color: #ffffff;
border-left-color: #ffffff;
margin-right: auto;
margin-left: 0px;
}
#menu ul li {
list-style-type: none;
}
#menu ul {
margin: 0;
padding: 0;
}
#menu li {
border-bottom: 1px solid #ffffff;
}
#menu a {
text-decoration: none;
color: #ffffff;
background: #a5c9e0b1;
display: block;
width: 280px;
padding-top: 40px;
padding-right: 6px;
padding-bottom: 3px;
padding-left: 9px;
}
#menu a:hover {
background: #a5c9e0b1;
transform: scale(1.05);
}

#menu1 {
width: 295px;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 12px;
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 0;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #ffffff;
border-right-color: #ffffff;
border-bottom-color: #ffffff;
border-left-color: #ffffff;
margin-right: auto;
margin-left: 0px;
}
#menu1 ul li {
list-style-type: none;
}
#menu1 ul {
margin: 0;
padding: 0;
}
#menu1 li {
border-bottom: 1px solid #ffffff;
}
#menu1 a {
text-decoration: none;
color: #000000;
background: #ffffff;
-webkit-transition:background-color .5s;
display: block;
width: 280px;
padding-top: 40px;
padding-right: 6px;
padding-bottom: 3px;
padding-left: 9px;
}
#menu1 a:hover {
background: #bbe4ee67;
transform: scale(1.05);
}

#menu2 {
width: 295px;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 12px;
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 0;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #ffffff;
border-right-color: #ffffff;
border-bottom-color: #ffffff;
border-left-color: #ffffff;
margin-right: auto;
margin-left: 0px;
}
#menu2 ul li {
list-style-type: none;
}
#menu2 ul {
margin: 0;
padding: 0;
}
#menu2 li {
border-bottom: 1px solid #ffffff;
}
#menu2 a {
text-decoration: none;
color: #000000;
background: #ffffff;
-webkit-transition:background-color .5s;
display: block;
width: 280px;
padding-top: 40px;
padding-right: 6px;
padding-bottom: 3px;
padding-left: 9px;
}
#menu2 a:hover {
background: #bbe4ee67;
transform: scale(1.05);
}

#menu3 {
width: 295px;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 12px;
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 0;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #ffffff;
border-right-color: #ffffff;
border-bottom-color: #ffffff;
border-left-color: #ffffff;
margin-right: auto;
margin-left: 0px;
}
#menu3 ul li {
list-style-type: none;
}
#menu3 ul {
margin: 0;
padding: 0;
}
#menu3 li {
border-bottom: 1px solid #ffffff;
}
#menu3 a {
text-decoration: none;
color: #000000;
background: #ffffff;
-webkit-transition:background-color .5s;
display: block;
width: 280px;
padding-top: 40px;
padding-right: 6px;
padding-bottom: 3px;
padding-left: 9px;
}
#menu3 a:hover {
background: #bbe4ee67;
transform: scale(1.05);
}